:root {
  --modal-bg: rgb(6, 48, 119);
  --blue-bg: #06015f8e;
  --btn-bg: #04025d;
  --btn-hover-color: #02007cbe;
  --pink-solid: #c40089;
  --pink-muted: #c4008979;
  --dark-bg: rgb(0, 0, 51);
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
body {
  background-color: var(--dark-bg);
  font-family: "Press Start 2P", system-ui;
  color: white;
}

h1 {
  text-align: center;
  margin: 8vh auto;
}

p {
  border-radius: 4px;
  font-family: "Play", sans-serif;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
  margin: 1rem;
}
a {
  color: var(--pink-solid);
}
a:hover {
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
}
.contact-container {
  padding: 1rem;
  margin: 0 15vw;
  background-color: var(--modal-bg);
  border: 4px double rgb(255, 255, 255, 0.674);
  border-radius: 0.25rem;
}

@media (max-width: 767px) {
  h1 {
    margin: 10vh;
    font-size: 30px;
  }
}
