footer {
  color: #fff;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}
footer img {
  padding: 0;
  margin-top: 0;
  border: none;
  background: none;
  height: 100px;
  width: auto;
}

hr {
  background-color: rgba(255, 255, 255, 0.237);
  margin: 20px;
}

footer a {
  color: white;
}
footer a:hover {
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #c40089, 0 0 10px #c40089;
}
