footer {
  color: #fff;
  padding: 1rem;
  text-align: center;
}
footer {
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: center;
}

hr {
  background-color: rgba(255, 255, 255, 0.237);
}
.footer-p {
  font-family: "Play", system-ui;
  font-size: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-right: 0.5rem;
}

footer a {
  color: white;
}
footer a:hover {
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #c40089, 0 0 10px #c40089;
}
