:root {
  --modal-bg: rgb(6, 48, 119);
  --blue-bg: #06015f8e;
  --btn-bg: #04025d;
  --btn-hover-color: #02007cbe;
  --pink-solid: #c40089;
  --pink-muted: #c4008979;
  --dark-bg: rgb(0, 0, 51);
}

@media (max-width: 600px) {
  html,
  body {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
  }

  .about-row {
    display: flex;
    flex-direction: column;
  }
  .about-section-col,
  .link-container {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .link-button-row {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0;
  }
  .link-button-row .link-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto !important;
    text-align: center;
    font-size: 0.5rem;
    padding: 0.75rem 0.5rem;
    white-space: nowrap;
    margin: 0;
    margin-bottom: 1vh;
  }
  .project-section {
    margin-top: 2vh !important;
    width: 100% !important;
    text-align: center;
  }
  .custom-btn {
    text-align: center !important;
    padding: 9px 3px !important;
  }
  .moon {
    width: 100px !important;
    height: 100px !important;
  }
}
body {
  background: linear-gradient(
    0deg,
    rgb(3, 3, 111) 0%,
    rgb(2, 2, 81) 50%,
    rgb(0, 0, 51) 100%
  );
  color: white;
  font-family: "Press Start 2P", system-ui;
}

.navbar {
  position: relative;
  background: rgb(0, 0, 51);
  font-family: "Play", sans-serif;
  z-index: 2;
}

.navbar a {
  color: white;
}

.thick-border {
  border: 4px double rgba(255, 255, 255, 0.674);
}
.container-padding {
  padding: 2rem;
}
.character-card-container {
  margin: 25vh auto;
  max-width: 1100px;
  width: 95%;
  padding: 1rem;
  background-color: var(--blue-bg);
  border: 4px double white;
  border-radius: 3px;
  height: auto;
  position: relative;
  z-index: 3;
}
h1 {
  font-size: clamp(0.5rem, 1.5vw, 0.75rem);
  font-weight: bolder;
  text-shadow: 0 0 1px #fff, 0 0 5px var(--pink-solid);
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0;
  animation: pulse 1.5s infinite ease-in-out;
}
.pmb-left-column {
  display: block;
  margin: 1vh auto;
  background-color: var(--modal-bg);
  border-radius: 0.25rem;
}
.emoji-labels {
  text-align: left;
}
p {
  font-family: "Play", sans-serif;
  font-size: clamp(0.5rem, 2vw, 1rem);
}
h2 {
  font-size: clamp(0.5rem, 2vw, 1.5rem);
  padding: 0.5rem;
  margin-top: 0.75rem;
  border-radius: 0.25rem;
}

h2 a {
  color: white;
  padding: 7px;
  background: var(--pink-solid);
  border-radius: 50px;
  border: 2px solid white;
  transition: all 200ms ease-in-out;
}

h2 a:hover {
  text-transform: lowercase;
  color: white;
  background: var(--pink-muted);
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
  text-decoration: none;
}

@keyframes pulse {
  0% {
    text-shadow: 0 0 1px var(--pink-solid), 0 0 2px var(--pink-solid),
      0 0 3px var(--pink-solid), 0 0 4px var(--pink-solid);
  }
  50% {
    text-shadow: 0 0 5px var(--pink-solid), 0 0 6px var(--pink-solid),
      0 0 12px var(--pink-solid), 0 0 8px var(--pink-solid);
  }
  100% {
    text-shadow: 0 0 1px var(--pink-solid), 0 0 2px var(--pink-solid),
      0 0 3px var(--pink-solid), 0 0 4px var(--pink-solid);
  }
}
.about-section {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  background-color: var(--modal-bg);
}
.project-section {
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  width: fit-content;
  padding-right: 2vw;
}
h2,
p {
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-left: 8px;
  margin-bottom: 0;
}

.avatar-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  background: radial-gradient(circle, rgb(29, 49, 84) 32%, #042256 80%);
}

.link-button {
  display: block;
  margin: 0 auto;
  color: white;
  background-color: var(--btn-bg);
  font-size: clamp(0.5rem, 1vw, 0.7rem);
  width: 150px;
  font-weight: bolder;
  padding: 0.35rem 0.5rem;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  transition: all 200ms ease-in-out;
}
.link-button:hover {
  color: white;
  background-color: var(--btn-hover-color);
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
  text-decoration: none;
  transform: scale(1.05);
}

.custom-modal {
  color: white;
  background-color: #062f77e8;
  border: none;
}
.custom-modal a {
  color: white;
  font-weight: bolder;
  background-color: var(--btn-bg);
  padding: 0.5rem 0.75rem;
  border: 4px double white;
  border-radius: 0.25rem;
  transition: all 200ms ease-in-out;
}

.custom-modal a:hover {
  color: white;
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
  background-color: var(--btn-hover-color);
  text-decoration: none;
  transform: scale(1.05);
}

.custom-btn {
  background-color: var(--btn-bg);
  color: white;
  border: 4px double white;
  border-radius: 0.25rem;
  font-size: clamp(0.45rem, 1vw, 0.7rem);
  text-align: left;
  transition: all 200ms ease-in-out;
  padding: 0.35rem 0.5rem;
  margin-bottom: 19.2px;
  min-width: fit-content;
  width: 100%;
}
.custom-btn:hover {
  background-color: var(--btn-hover-color);
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
  transform: scale(1.05);
}

.modal-body {
  font-family: "Play", sans-serif;
}
.star-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 1;
}
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
  box-shadow: 0 0 10px #fff, 0 0 15px var(--pink-solid);
  z-index: 1;
}
.star-2 {
  position: absolute;
  width: 3px;
  height: 3px;
  background: var(--pink-solid);
  border-radius: 50%;
  animation: twinkle 2s infinite ease-in-out;
  box-shadow: 0 0 10px #fff, 0 0 15px var(--pink-solid);
  z-index: 1;
}
@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}
@keyframes pulseMoon {
  0% {
    box-shadow: 0 0 1px #fff68f66, 0 0 4px #fff68f66, 0 0 7px #fff68f66,
      0 0 10px #fff68f66, 0 0 13px #fff68f66, 0 0 15px #fff68f66,
      0 0 30px 15px #fff68f66, 0 0 60px 30px #fff68f66, 0 0 100px 50px #fff68f66;
  }
  50% {
    box-shadow: 0 0 2px #fff68f66, 0 0 6px #fff68f66, 0 0 9px #fff68f66,
      0 0 12px #fff68f66, 0 0 15px #fff68f66, 0 0 17px #fff68f66,
      0 0 30px 15px #fff68f66, 0 0 60px 30px #fff68f66, 0 0 100px 70px #fff68f66;
  }

  100% {
    box-shadow: 0 0 1px #fff68f66, 0 0 4px #fff68f66, 0 0 7px #fff68f66,
      0 0 10px #fff68f66, 0 0 13px #fff68f66, 0 0 15px #fff68f66,
      0 0 30px 15px #fff68f66, 0 0 60px 30px #fff68f66, 0 0 100px 50px #fff68f66;
  }
}
.moon {
  position: absolute;
  top: 75px;
  right: 100px;
  width: 120px;
  height: 120px;
  background-color: #fffb8f;
  border-radius: 50%;
  animation: pulseMoon 2s infinite ease-in-out;
  z-index: 2;
}
@keyframes shootingStar {
}
.shooting-star {
  animation: shootingStar 20s infinite;
}
