.recipe-container-small {
  display: none;
}
@media (max-width: 767px) {
  .recipe-container {
    display: none;
  }
  .recipe-container-small {
    display: block;
  }
  .img-container {
    height: fit-content;
  }
  .img-container img {
    margin: 0 !important;
  }
}

body {
  background-color: rgb(0, 0, 51);
  font-family: "Press Start 2P", system-ui;
  color: white;
}

h1 {
  text-align: center;
  margin: 5vh auto;
}

p {
  border-radius: 4px;
  font-family: "Play", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 200ms ease-in-out;
}
.navigation-links a:hover {
  color: #212529;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs p {
  margin: 50px;
  text-align: center;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.email-link:hover {
  color: #212529;
}

.btn-green {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  font-size: 0.7rem;
  width: 70%;
  text-transform: uppercase;
}

.img-container {
  display: block;
  padding: 1.25rem;
}

.img-container img {
  margin: 25% 0;
  box-shadow: var(--box-shadow);
}

.about-image-container {
  padding: 10px;
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.about-image-container img {
  margin: 25% 0;
  box-shadow: 1px 1px 10px #00000018;
  transition: all 200ms ease-in-out;
}
.about-image-container img:hover {
  box-shadow: 3px 3px 20px #0000003f;
}

.custom-card-container {
  display: block;
  padding: 1.25rem;
}

.card-body {
  background-color: rgb(6, 48, 119);
}
