:root {
  --modal-bg: rgb(6, 48, 119);
  --blue-bg: #06015f8e;
  --btn-bg: #04025d;
  --btn-hover-color: #02007cbe;
  --pink-solid: #c40089;
  --pink-muted: #c4008979;
  --dark-bg: rgb(0, 0, 51);
}
.hidden {
  display: none;
}
@media (max-width: 767px) {
  .recipe-container {
    display: none;
  }
  .recipe-container-small {
    display: block;
  }
  .img-container {
    height: fit-content;
  }
  .img-container img {
    margin: 0 !important;
  }
}

body {
  background-color: rgb(0, 0, 51);
  font-family: "Press Start 2P", system-ui;
  color: white;
}

h1 {
  text-align: center;
  margin: 5vh auto;
}

p {
  border-radius: 4px;
  font-family: "Play", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-align: center;
}

.project-btn {
  color: #fff;
  background-color: #04025d;
  border: 4px double rgba(255, 255, 255, 0.674);
  font-size: 0.7rem;
  width: 70%;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}

.project-btn:hover {
  color: white;
  background-color: var(--btn-hover-color);
  text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px var(--pink-solid),
    0 0 10px var(--pink-solid);
  transform: scale(1.05);
}

.img-container {
  display: block;
  padding: 1.25rem;
}

.img-container img {
  margin: 25% 0;
  box-shadow: var(--box-shadow);
  border: 4px double rgba(255, 255, 255, 0.674);
}

.card-body {
  background-color: rgb(6, 48, 119);
  border-radius: 0.25rem;
  border: 4px double rgba(255, 255, 255, 0.674);
}
.custom-card-container {
  display: block;
  margin: auto;
}
.project-row {
  display: flex;
  row-gap: 1vw;
  height: fit-content;
}
.project-row-section {
  margin: 1vw;
}
img {
  border: 4px double rgba(255, 255, 255, 0.674);
}
