body {
  background-image: url("images/bg-graphic.gif");
  color: white;
  overflow: hidden;
}

h2 {
  margin: 12px 0;
}

.character-card-container {
  display: block;
  margin: 25vh auto;
  background-color: #4a659696;
  width: fit-content;
  height: auto;
}
.pmb-name {
  display: block;
  margin: 0 auto;
  padding: 0.25rem;
}
.avatar-img {
  display: block;
  margin: 0 auto;
  padding-top: 3rem;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 5px;
}
